<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Backend.Properties.Backend" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Backend.Backend" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Backend.Properties.Backend>
            <setting name="FirstTimeLogin" serializeAs="String">
                <value>True</value>
            </setting>
        </Backend.Properties.Backend>
        <Backend.Backend>
            <setting name="FirstTimeLogin" serializeAs="String">
                <value>True</value>
            </setting>
        </Backend.Backend>
    </userSettings>
</configuration>